.navbar-fix {
  background-color: #181818;
  height: 80px;
}
.navbar-container {
  margin-top: 14px;
}
.row2 {
  float: left;
  width: 50%;
}

.label {
  float: left;
}

.search_input {
  border-right-color: #0000;
  background: #0000;
  border-radius: 4px;
  border-bottom-right-radius: 22px !important;
  margin-right: -15px;
  border-top-right-radius: 22px !important;
  border-left-color: #0000 !important;
  width: 500px !important;
}

.search_input::placeholder {
  color: #fed700;
  font-size: 14px;
  margin-left: 22px;
}

.fa-headset {
  color: #fed700;
  font-size: 18;
  margin-left: -20px;
}

