.nav-primary {
  background-color: #0061e0;
  height: 40px;
}

.top-header-link {
  color: #fed700 !important;
  font-size: .813rem;
}

.nav-divider {
  color: #fff;
  margin-top: 6px;
}

.top-header-link:hover {
  color: #fff !important;
}

.nav-top-icon {
  margin-top: 12px;
  margin-right: -8px;
  font-size: .813rem;
  margin-left: 22px;
}
