.App {
}

.carousel-indicators {
  display: none !important;
}

.button-contianer {
  display: flex;
  justify-content: space-between;
}

.img-container {
  display: flex;
  overflow: hidden;
  width: 85%;
  border-radius: 10px;
  margin-top: -40px;
}

.product-container {
  display: flex;
  overflow: hidden;
  width: 85%;
  border-radius: 10px;
  margin-top: -40px;
  margin-left: 120px;
}

.slide-container {
  background-color: #181818;
  height: 800px;
}

.carousel-img {
  margin-left: 120px;
  width: 150px;
  height: 60px;
  transform: scale(1);
  transition: all 0.3s;
}

.service-img {
  width: 200px;
  height: 70px;
  transform: scale(1);
  transition: all 0.3s;
  margin-top: 50px;
}
.carousel-img:hover {
  transform: scale(1.1);
  filter: grayscale(1);
  display: block;
}

.product-card:hover {
  transform: scale(1);
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
